* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    backdrop-filter: blur(8px);
}

.nav {
    display: flex;
    gap: 3vw;
}

.nav button {
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.footer {
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
